[Unit]
Description={{ service_description }}
After=network.target

[Service]
WorkingDirectory={{ path }}

{% if interactive %}
Type=forking
{% else %}
Type=simple
{% endif %}

PrivateUsers=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true

User={{ minecraft_user_name }}
Group={{ minecraft_user_name }}

{% if mod_engine == 'vanilla' %}
ExecStart=/bin/sh -c '{% if interactive %}/usr/bin/tmux new-session -d -s minecraft-server {% endif %}/usr/bin/java -Xmx{{ max_mem }}G -Xms{{ min_mem }}G -XX:+AlwaysPreTouch -jar -Dlog4j2.formatMsgNoLookups=true server.jar nogui'
{% endif %}

{% if interactive %}
ExecStop=/bin/sh -c '/usr/bin/tmux send-keys -t minecraft-server.0 "stop" ENTER && /usr/bin/sleep 10'
ExecReload=/bin/sh -c '/usr/bin/tmux send-keys -t minecraft-server.0 "reload" ENTER'
{% else %}
ExecStop=/bin/sh -c '/usr/bin/sleep 10'
{% endif %}

TimeoutStopSec={{ service_timeout_stop_sec }}
RestartSec={{ service_restart_sec }}
Restart=on-failure

StandardInput=null

[Install]
WantedBy=multi-user.target
