[Unit]
Description={{ service_description }}
After=network.target

[Service]
WorkingDirectory={{ minecraft.path }}

{% if minecraft.interactive %}
Type=forking
{% else %}
Type=simple
{% endif %}

PrivateUsers=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true

User={{ minecraft_user_name }}
Group={{ minecraft_user_name }}

Environment="Java=/usr/lib/jvm/jre-{{ instance_infos.javaVersion }}-openjdk/bin/java"

{% if minecraft.mod_engine == 'vanilla' %}
ExecStart=/bin/sh -c '{% if minecraft.interactive %}/usr/bin/tmux new-session -d -s {{ service_name }} {% endif %}${Java} -Xmx{{ minecraft.max_mem }}G -Xms{{ minecraft.min_mem }}G -XX:+AlwaysPreTouch -jar -Dlog4j2.formatMsgNoLookups=true server.jar nogui'
{% endif %}

{% if minecraft.interactive %}
ExecStop=/bin/sh -c '/usr/bin/tmux send-keys -t minecraft-server.0 "stop" ENTER && /usr/bin/sleep 10'
ExecReload=/bin/sh -c '/usr/bin/tmux send-keys -t minecraft-server.0 "reload" ENTER'
{% else %}
ExecStop=/bin/sh -c '/usr/bin/sleep 10'
{% endif %}

TimeoutStopSec={{ service_timeout_stop_sec }}
RestartSec={{ service_restart_sec }}
Restart=on-failure

StandardInput=null

[Install]
WantedBy=multi-user.target
