{% for key, value in minecraft.server_properties.items() %}
{%  if key in ['rcon_port', 'query_port', 'rcon_password']%}
{{ key | replace('_', '.')}}={{value}}
{%  else %}
{{ key | replace('_', '-')}}={{value}}
{%  endif %}
{% endfor %}
